{{define "title"}}My Appointment Page{{end}}

{{define "main"}}
    <p>Hi there! We don't really know who you are.</p>
    <p>Please <a href="/login">login</a> before viewing your appointments</p>
{{end}}
