{{define "title"}}Change Username & Password{{end}}
{{define "main"}}
<h1>Change Username & Password</h1>
<h3>Enter the following to change your username and password</h3>
<form method="post">
    <label for ="username">Username:</label>
    <input type="text" name="username" placeholder="username"><br>
    <label for ="password">Password:</label>
    <input type="text" name="password" placeholder="password"><br>
    <input type="submit">
</form>
{{end}}
